@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.map-wrap {
    width: 100%;
    aspect-ratio: 1/.5;
}
.payment-plan .custom_accordion_item {
    background-color: transparent !important;
    border: 0 !important;
}

.payment-plan .custom_accordion_body {
    padding: 0
}

.payment-plan .custom_accordion_body table {
    width: 100%;
}
.payment-plan .custom_accordion_body table thead{
    padding:16px 0;
    border-bottom:1px solid #fff
}
.payment-plan .custom_accordion_body table tbody{
    margin:20px 0
}
.payment-plan .custom_accordion_body table th {
    font-weight: 500;
    font-size: 32px;
    line-height: 113.6%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 16px 0;
}

.payment-plan .custom_accordion_body table td {
    font-size: 20px;
    /* line-height: 149.6%; */
    line-height: 45px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom:16px
}
.estimate-cost ul.fees li i,
ul.fees li i {
    font-size: 16px;
}

.estimate-inner {
    display: flex;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    grid-gap: 20px;
    gap: 20px;
    -moz-box-align: center;
    align-items: center;
}

input.range-slider {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 10px;
    height: 1px;
    margin-top: 22px;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.range-slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.schedule_callback_modal {
    background: #fff;
}

.schedule_callback_modal input {
    padding: 15px 8px
}

.popup_map_img img {
    width: 100%
}

/* Community banner */
.community-banner {
    display: block;
    position: relative;
    min-height: 660px;
    height: 100vh;
    height: calc(100vh - 85px);
    background-color: #111;
    background-image: linear-gradient(45deg, #111, #c8b37a);
}

.community-banner .bg-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 430px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    z-index: 8;
}



/* banner text  */
.community-banner {
    display: flex;
    align-items: flex-end;
}

.community-banner-text {
    position: relative;
    z-index: 9;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 33px 0;

    color: #fff;
}


.banner-text-left h1 {
    font-size: 72px;
}

.banner-text-left p {
    font-size: 22px;
    margin-bottom: 36px;
}

.cust_banner_btn {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.7) !important;
    margin: 3px;
}

.banner-text-left .location-community a {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
}

.banner-text-left .location-community a img {
    margin-right: 15px;
}

.location-community .text-icon {
    display: inline-block;
    margin-right: 8px;
}

.damac-section3 {
    /* background-color: #111;
    padding:100px */
}

/* .img-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 0fr;
    grid-template-columns: 3.5fr 2fr 2fr 0fr 0fr;
    gap: 0px;
    position: relative;
    height: 100%;
}

.img-grid .box-1 {
    grid-area: box-1;
    aspect-ratio: 4/5 !important;
}

.img-grid .box-2 {
    grid-area: box-2;
}

.img-grid .box-3 {
    grid-area: box-3;
}

.box-1 img,
.box-2 img,
.box-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt-over-grid {
    position: absolute;
    bottom: 56px;
    left: 104px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 147.6%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    width: 385px;
} */
.damac-gallery {
    position: relative;
}

.damac-gallery img {
    border-radius: 0px !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gal-content {
    width: 385px;
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    bottom: 55px;
    left: 116px;
    color: #fff;
}

.gal-content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
}

.angry-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 0fr;
    grid-template-columns: 3.5fr 2fr 2fr 0fr 0fr;
    gap: 0px;
    position: relative;
    height: 100%;
}

.gr-item-0 {

    background-color: #89DDB6;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;

}

.gr-item-1 {

    background-color: #7C957C;
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;

}

.gr-item-2 {

    background-color: #6859DD;
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;

}

.gr-item-3 {

    background-color: #F7BE9B;
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 4;

}

.right-side-gallery {
    height: 100%;
    width: 100%;
}

.right-side-gallery img {
    height: 100%;
    width: 100%;
}

.sm-gal-right {
    width: 100%;
    height: 100%;
}

.sm-gal-right img {
    width: 100%;
    height: 100%;
    width: 100%;
}

.sm-gal-left {
    width: 100%;
    height: 100%;
}

.sm-gal-left img {
    width: 100%;
    height: 100%;
}

.gal-gr {
    width: 100%;
    height: 100%;
}

.gal-gr img {
    width: 100%;
    height: 100%;
}

.about-location {
    padding: 80px 0
}

.about-location .brand-partners {
    margin-top: 126px;
}

.about-location .brand-partners .brand-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-location .brand-partners .brand-icons img {
    width: 100%;
}
.about-location .brand-partners .brand-icons .column{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.about-location p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 154%;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.75;
}

.gallery_main_img .single_img {
    aspect-ratio: 16/9;
}

.gallery_main_img .single_img img,
.lower_images .image img {
    width: 100%;
    height: 100%
}
.lower_images{
    margin-top: 16px;
}
.lower_images .image {
    aspect-ratio: 170/108;
}

.township-amenities {
    padding: 76px 0;
    background: linear-gradient(90deg, rgba(192, 170, 113, 0) 0%, #C0AA71 0%, #C0AA71 0.01%, #F3E0AB 100%);
}

.township-amenities p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 147.6%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
}

.township-amenities .icon-area, .icon-area {
    margin-bottom: 45px
}

.township-amenities .icon, .icon-area img-area img {
    width: 32px;
    height: 32px;
}

.township-amenities .icon-area h4, .icon-area h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 99.6%;
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 0;
    word-break: break-word;
}

.township-amenities .icon-area p, .icon-area p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 136.6%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 14px;
    word-break: break-word;
}

.projects-section {
    padding: 100px 0
}

.projects-section .single-project {
    margin-bottom: 47px;
}

.projects-section .single-project .img {
    aspect-ratio: 1/.7;
}

.projects-section .single-project .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-section .single-project .info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 169.6%;
    color: #000000;
    padding-top: 14px
}

.projects-section .single-project .info h4 {
    margin-bottom: 0;
}

.projects-section .single-project .info p {
    font-size: 20px;
    line-height: 169.6%;
    color: #000000;
    opacity: 0.8;
}

.master-plan {
    padding: 70px 0;
}

.map img {
    width: 100%;
    /* border:1px solid black */
}

.master-plan .video {
    margin-top: 112px
}

.master-plan .video video {
    width: 100%;
}

.destance {
    background: linear-gradient(90deg, rgba(192, 170, 113, 0) 0%, #C0AA71 0%, #C0AA71 0.01%, #F3E0AB 100%);
    padding-bottom: 81px;
    padding-top: 67px;
    color: #fff;
}

.destance h5 {
    font-size: 52px;
    font-weight: 300;
    line-height: 59px;
    letter-spacing: 0.01em;
    margin-top: 16px;
    margin-bottom: 12px;
}
.destance p {
    font-weight: 300;
    font-size: 22px;
    line-height: 149.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.map-section img {
    width: 100%
}

section.estimate {
    color: white;
}

.estimate {
    background: linear-gradient(90deg, rgba(192, 170, 113, 0) 0%, #C0AA71 0%, #C0AA71 0.01%, #F3E0AB 100%);
    padding-top: 38px;
    padding-bottom: 59px;
}
.enquire_btn_white {
    background: #FFFFFF;
    box-shadow: 0px -6px 84px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 113.6%;
    letter-spacing: 0.02em;
    padding: 14px 73px;
    font-family: "Roboto";
    font-weight: 400;
    border: 0;
    color: #c6b078;
}
.estimate-inner p {
    font-size: 20px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.estimate-inner button{

}
.estimate .estimate-tagline {
    margin-bottom: 47px;
}

.estimate-inner {
    display: flex;
    columns: 2;
    gap: 20px;
    align-items: center;
}

.estimate-inner span {
    font-weight: 300;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 50%;
}

.estimate-inner span.text-right.dark {
    display: flex;
    columns: 2;
    gap: 20px;
    align-items: center;
}

span.text-right {
    float: right;
}

.estimate-inner span.text-right.dark i {
    margin-left: 20px;
}

.estimate-inner span.text-right i {
    opacity: 100%;
}

.border-white {
    padding: 15px 20px;
    width: 50%;
    margin-bottom: 22px;
    border: 0.5px solid #FFFFFF;
}

.estimate-cost {
    margin-top: 40px;
}

.estimate-cost h4 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 31px;
}

.estimate-cost ul {
    list-style-type: none;
    padding: 0;
}

.estimate-cost ul li {
    margin-bottom: 20px;
    font-size: 26px;
    float: right;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.estimate-cost ul li i {
    font-style: normal;
}

.estimate-cost h4 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 31px;
}

.estimate-cost span.text-left {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    float: left;
    width: 50%;
}

.estimate-cost span {
    opacity: 0.7;
}

.why-invest {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 171px;
    padding-bottom: 70px;
    color: #fff;
}

.invest-wrap {
    background: #000;
    padding: 65px;
    width: 50vw;
}

.invest-wrap h2 {
    margin-bottom: 9px;
    font-size: 44px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.01em;
}

.invest-wrap p {
    margin-bottom: 84px;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 0.02em;
}

.invest-wrap a.read-more {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: #fff;
}

.project-detail {
    padding-top: 40px;
    padding-bottom: 98px;
}

.property-slider-wrap {
    position: relative;
}

.project-card {
    margin-bottom: 47px;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card h6 {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    margin-top: 14px;
    margin-bottom: 0;
}

.project-card p {
    font-weight: 300;
    font-size: 16px;
    opacity: 65%;
    margin-bottom: 10px;
}

ul.bedroom-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    align-items: center;
}

ul.bedroom-detail li a {
    color: #000;
    text-decoration: none;
}

ul.bedroom-detail li a img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

section.faq-section {
    background: #000;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 199px;
}

.faq-icon h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    margin-top: 8px;
    margin-bottom: 60px;
}

section.faq-section div.accordion,
section.faq-section .accordion-item,
.accordion-button {
    background: transparent !important;
    color: #fff;
    border: none
}

section.faq-section .accordion-item>h2>button {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    background: transparent !important;
    color: #fff;
}

.border-white .side_icons {
    position: relative;
    /* left: 50%; */
    font-size: 22px;
    opacity: unset;
}

.border-white .side_icons svg {
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
}

.town-slider .react-multi-carousel-list,
.town-slider .react-multi-carousel-track {
    height: 100%
}

section.faq-section .accordion-body {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    padding: 1rem 0rem;
}

.white-btn {
    background: #fff;
    color: #C0AA71;
}

.shape-content-wrap {
    padding-left: 105px;
    padding-top: 85px;
    color: #000;
}

.shape-item {
    padding-bottom: 75px;
}

.shape-item h2 {
    font-size: 44px;
    font-weight: 500;
    line-height: 52px;
    margin-bottom: 30px;
}

.shape-item p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.02em;
    opacity: 75%;
}

.shape-item h4 {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 8px;
}

ul.shape-count {
    margin-top: 35px;
    list-style-type: none;
    padding: 0;
    gap: 40px;
}

.schedule_call_back_btn {
    width: 100%;
    display: block;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    background: linear-gradient(90deg, rgba(192, 170, 113, 0) 0%, #C0AA71 0%, #C0AA71 0.01%, #F3E0AB 100%) !important;
    backdrop-filter: blur(38px);
    border-radius: 4px;
    margin: 25px 0 13px;
    cursor: pointer;
    border: 0;
}

@media (max-width: 1200px) {
    /* .border-white .side_icons {
        left: 30%;
    } */
}

@media (max-width: 992px) {
    /* .border-white .side_icons {
        left: 15%;
    } */
}

@media(max-width:767px) {
    .estimate-inner{
        flex-direction: column;
        align-items: stretch;
    }
    .estimate-inner .border-white{
        display: block;
        width: 100%;
    }
   
    .about-location .brand-partners {
        margin-top: 50px;
    }
    .destance h5 {
        font-size: 32px;
        line-height: 113.6%;
        letter-spacing: 0.01em;
    }

    .destance p {
        font-size: 18px;
        line-height: 149.6%;
    }
    /* .popup_map_img img{
        width:500px
    } */
    .map-wrap {
        width: 100%;
        aspect-ratio: unset;
        height: 100vh;
    }

    /* .border-white .side_icons {
        left: 100px;
        left: 15px;
    } */

    .community-banner-text {
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
    }

    .banner-text-left h1,
    .banner-text-left .title {
        font-size: 44px;
    }

    .cust_banner_btn {
        background: rgba(255, 255, 255, 0.1) !important;
        backdrop-filter: blur(38px);
        width: 48%;
    }

    .cust_banner_btn span {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 113.6%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .banner-text-left p {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .border-white {
        padding: 15px 10px;
    }

    .invest-wrap {
        padding: 20px;
        width: 100%;
    }

    section.text-image-section .text-wrapper {
        max-width: 100%;
    }

    .about-location .brand-partners .brand-icons {
        margin-bottom: 20px
    }

    .txt-over-grid {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 70%;
    }

    .master-plan .video {
        margin-top: 60px
    }
}
@media(max-width: 576px) {
    .faq-icon h2 {
        font-size: 22px;
        margin-bottom: 44px;
    }
}
@media(max-width:450px) {
    .community-banner-text {
        /* flex-wrap: wrap; */
    }

    .txt-over-grid {
        width: 90%;
    }

    .gal-content {
        bottom: 6px;
        left: 10px;
        max-width: 90%;
    }

    .gal-content p {
        font-size: 16px;
        line-height: 20px;
    }
}