
.bl-col-4{
	padding: 0 22px;
}
.blog-hero{
	width: 100%;
	height: 329px;
	background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('../../public/images/blog-list-1.jpg') no-repeat center/100%;
}
.blog-hero-text{
	padding-top: 196px;
	padding-bottom: 84px;
	font-size: 42px;
	line-height: 49px;
}
.blog-list{
	margin-top: 82px;
}
.blog-card{
	margin:24px 0
}
.blog-card a h6{
	font-size: 20px;
	line-height: 24px;
	margin-top: 12px;
	height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 8px;
}
.category_tag_txt p,.date_div p{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.64px;
	margin-bottom: 12px;
}
.date_div p{
	font-size: 14px;
	font-weight: 300;
	opacity: 0.6;
}
.blog-desc{
	font-size: 18px;
	font-weight: 300;
	line-height: 27px;
	max-height: 108px;
	opacity: 0.65;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}
.blog-card-btn{
	/* margin-bottom: 82px; */
	margin-top: 4px;
}
.blog-card-btn a{
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
	padding: 15px 33px;
}
.hr-tag{
	display:none;
	margin:0;
	border-bottom:1px solid #C4C4C4;
	opacity: .6;
}
.pagination_main_wrap{
	margin-top: 43px;
	margin-bottom: 110px;
}
.page_btn a{
	padding: 13px;
	border-radius: 50%;
	box-shadow: 0px 4px 15px 0px #00000026;
	background: #ffffff;
}
.page_btn a.disabled svg{
	opacity: .3;
}
.page_btn a svg{
	width: 22px;
    height: 22px;
}
.pagination_no{
	margin: 0 32px;
}
.pagination_no ul li{
	font-size: 16px;
	line-height: 27px;
	opacity: 0.65;
}
.pagination_no ul li:not(:last-child){
	padding-right: 42px;
}
@media (max-width: 992px){
	.date_main_div{
		width: 100%;
	}
}
@media (max-width: 767px){
	.blog-list{
		margin-top: unset;
	}
	.hr-tag{
		display: block;
	}
	.pagination_no{
		margin: 0 22px;
	}
	.pagination_no ul li:not(:last-child){
		padding-right: 22px;
	}
	.blog-card a h6 {
        height: auto 
    }
}


.blog-card img {
	width: 100% ;
}