/**/


.heroBanner {
	position: relative;
	height: 100vh;
	min-height: 500px;
}

.project_slug_modal .banner_area{
	aspect-ratio: 16/9;
}
.project_slug_modal .banner_area img{
	width:100%;
    height: 100%;
	object-fit: cover;
}