.IconsFeatureText {
	padding: 65px 0;
	background-color: var(--primary);
	backgroundImage: var(--primary-gradient);
	color: #fff;
}

.icons-image {
	max-width: 44px;
	height: 44px;
}


.icons-grid {
		display: grid;
		grid-gap: 60px;
		grid-template-columns: repeat(1, 1fr);
	}

.icons-grid-item {
	text-align: center;
	max-width: 272px;
	margin: 0 auto;
}
.icons-grid-item .icons-image {
	margin: 0 auto;
	margin-bottom: 16px;
}
.icons-grid-item .title {
	text-align: center;
	font-size: 52px;
	font-weight: 300;
	margin-bottom: 12px;
}
.icons-grid-item .description {
	font-size: 22px;
	margin: 0 auto;
	max-width: 272px;
}

@media ( min-width: 768px ) {
	.icons-grid {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(3, 1fr);
	}


	.icons-grid-item .title {
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-bottom: 12px;
	}
	.icons-grid-item .description {
		font-size: 18px;
		margin: 0 auto;
		max-width: 272px;
	}
}

@media ( max-width: 768px ) {
	
	.icons-grid-item .title {
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-bottom: 12px;
	}
	.icons-grid-item .description {
		font-size: 18px;
		margin: 0 auto;
		max-width: 272px;
	}
}