/**/
 


.payment-plan-section {
	padding:  36px 0;
	backgroundImage: var(--primary-gradient);
	color: #fff;
}

.title-container h3 {
	margin-bottom: 12px;
}

.header-title-container {
	position: relative;
}

.collapse-arrow {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -21px;
	font-size: 32px;
	width: 42px;
	height: 42px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.1s all ease-in-out;
}

.collapse-arrow.active {
	transform: rotate(180deg);
}


.collapse-section {
	display: none;
}

.collapse-section.active {
	display: block;
}


.payment-plan-table {
	width: 100%;
}
.payment-plan-table td {
	text-align: center;
	padding: 15px;
}
.payment-plan-table thead {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.payment-plan-table thead td {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}

@media ( max-width: 768px ) {
	.payment-plan-table td {
		text-align: center;
		padding: 15px 0;
	}
}