/* Blog card item  */
.blogcard-item p {
    color: rgba(0, 0, 0, 0.65);
    font-size: 18px;
    line-height: 1.7;
}

.hr-tag {
    display: none;
    margin: 0;
    border-bottom: 1px solid #C4C4C4;
    opacity: .2;
}

.blogcard-item .blogitem-title {
    font-size: 20px;
    line-height: 1.4;
    /* min-height: 80px; */
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    font-weight: 400;
    margin-bottom: 16px;
}

.blogcard-item .blogitem-title a {
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blogcard-item .blog_desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 148%;
    color: #000000;
    opacity: 0.65;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blogcard-item .blogitem-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}

.dateandauthor {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0.03em;
    color: #000000;
    opacity: 0.6;
}


.dateandauthor>span {
    display: inline-block;
    margin-left: 4px;
}

.metatags .taglabel {
    display: inline-block;
    margin-right: 4px;
}

.taglabel {
    font-weight: 500;
}

@media(max-width: 767px) {
    .hr-tag {
        display: block;
    }
    .blogcard-item .blogitem-title{
        margin-bottom:0
    }
}