.text-section {
	position: relative;
	padding: 80px 0;
}

.text-section h2,
.text-section h1 {
	font-size: 44px;
	margin-bottom: 42px;
}

.text-section p {
	font-size: 20px;
	font-weight: 300;
	font-family: "Roboto";
	font-style: normal;
	font-size: 16px;
	line-height: 149.6%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}

@media (max-width:767px) {
	.text-section{
		padding:50px 0
	}
	.text-section h2,
	.text-section h1 {
		font-size: 32px;
	}
}